#env
.env
.env.tmp
.env.example

# Laravel
/bootstrap/compiled.php
/vendor
/storage/logs

#bower
/bower

# Configuration
# /app/config/local
# /app/config/staging
# /app/config/production

# Composer
composer.phar
composer.lock

# OS
.DS_Store
.idea/
vagrant
.vagrant

# Packages
_ide_helper.php

#ctag
.tags_sorted_by_file
.tags

#public assets
public/build

#public file
public/file
public/upload

